/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

// Responsive breakpoints
$MQNarrow = 959px
$MQMobile = 800px
$MQMobileNarrow = 770px 

// Vuepress Defaults
$vpAccentColor = #3eaf7c
$vpTextColor = #2c3e50
$vpBorderColor = #eaecef
$vpCodeBgColor = #282c34

// Algonquin Colour Pallet
$acGreen100 = #006341
$acGreen80 = #338267
$acGreen60 = #66A18D
$acGreen35 = #A6C8BC
$acGreen25 = #B7D2CA
$acGreen10 = #E5EFEC

$acDarkGreen = #003328
$acNewGrowth = #43B02A

$acCharcoal = #212721
$acCharcoal70 = #565856
$acCharcoal60 = #747674
$acCharcoal50 = #909390
$acCharcoal10 = #e9e9e9
$acCharcoal02 = #F8F9F8

// Active colour scheme
$accentColor = $acGreen100
$textColor = $acCharcoal
$borderColor = $acCharcoal10
$codeBgColor = $vpCodeBgColor
